.galeria {
    display: grid;
    /* Isso cria colunas automáticas que se ajustam ao tamanho da tela */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; /* Espaço entre as fotos */
}

.card img {
    width: 100%; /* A imagem nunca estoura o tamanho do quadrado */
    border-radius: 8px; /* Cantos arredondados estilo app moderno */
}